.content-section {
	margin: 20px auto;
	width: 90%;
}
.news-block {
	padding: 20px;
}
.news-block h2 {
	text-transform: uppercase;
}
.list-item {
	text-decoration: none;
	display: flex;
	margin: 10px 0;
	align-items: center;
	color: #000;
}
.list-item img {
	width: 70px;
	height: 70px;
	margin: 0 10px;
}
.news-item {
	display: flex;
}
.news-item img {
	width: 250px;
	height: 250px;
}
.news-detail {
	padding: 0 20px;
	display: inline;
}
.btn-add {
	padding: 10px 20px;
	background: #28a745;
}
button a {
	text-decoration: none;
}
.btn-add a {
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}
.flex {
	display: flex;
	align-items: center;
}
.info {
	width: 60%;
}
.action {
	width: 40%;
}
.btn-edit a {
	color: #007bff;
}
.btn-delete a {
	color: #dc3545;
}
